.portada {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.portada img {
    width: 100%;
}
.menu {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;

}